<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4" style="margin-top:15%;">
            <h1>404</h1>
            <p style="font-size:xx-large;">NOT FOUND!</p>
            <a routerLink="/loginForm" class="btn btn-warning">Return to login page</a>
        </div>
        <div class="col-md-8">
            <img src="assets/images/404NotFound.png" alt="" width="100%" height="200%">
        </div>
    </div>
</body>
</html>